<!doctype html>
<!--[if lt IE 7]> <html lang="da" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="da" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="da" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="da" class="no-js" manifest="@Href("~/Site.cachemanifest")"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="@Page.Description" />
        <title>@Page.Title</title>
        <link rel="stylesheet" type="text/css" href="@Href("~/Styles/Site.css")" />
        <script type="text/javascript" src="@Href("~/Scripts/modernizr-2.0.6.js")"></script>
    </head>
    <body>
        <!--[if lte IE 7]> <div style="margin: 0 auto; width: 820px;"><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div> <![endif]-->
        <div id="main">
            @RenderBody()
        </div>
        <script type="text/javascript" src="@Href("~/Scripts/jquery-1.6.2.min.js")"></script>
    </body>
</html>
